<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="test_bootstrap.php" convertErrorsToExceptions="false" convertNoticesToExceptions="false" convertWarningsToExceptions="false" processIsolation="false" backupGlobals="true" backupStaticAttributes="false">
    <testsuites>
      <testsuite name="common">
        <file>SimpleTest.php</file>
        <file>CommonDBTest.php</file>
        <file>VideoEndpointTest.php</file>
        <file>CommonConfigTest.php</file>
      </testsuite>
    </testsuites>
    
    <php>
        <!--<includePath></includePath>-->
        <var name="DB_HOST" value="127.0.0.1"/>
        <var name="DB_DSN" value="mysql:dbname=circle_test;host=127.0.0.1;port=3306" />
        <!-- Keep the user id and password in-sync with .circleci/config.yml -->
        <var name="DB_USER" value="ubuntu" />
        <var name="DB_PASSWD" value="testuser" />
        <var name="DB_DBNAME" value="circle_test" />
        <var name="MEMCACHE_HOST" value="localhost" />
        <var name="MEMCACHE_PORT" value="11211" />
        <var name="TOPIC" value="TestARN" />
    </php>
</phpunit>